<a href="https://colab.research.google.com/github/fauzan-nf/github-slideshow/blob/master/Pertemuan_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pertemuan 1

**Pada pertemuan kali ini akan dilakukan pembahasan mengenai perkenalan awal, mempelajari input/output, mempelajari variabel dan tipe data pada python, dan mempelajari operator-operator dasar pada python.**

### Perkenalan Awal

Pada umumnya terdapat dua ekstensi yang sering digunakan untuk melakukan pemrograman python, yaitu `.py` dan `.ipynb`. 

Program `.py` adalah program yang dijalankan dalam satu kesatuan atau tidak terbagi bagi. Beberapa contoh penggunaan ekstensi `.py` adalah pada spyder, pycharm, ataupun dengan melakukan code pada text editor (seperti sublime, notepad++, dan visual code studio).

Program `.ipynb` (interactive python notebook) adalah program yang dapat dijalankan secara terpisah atau dapat diartikan juga bahwa setiap *cell* pada `.ipynb` mewakili satu ekstensi `.py`. Beberapa contoh penggunaan `.ipynb` adalah pada jupyter notebook, kaggle kernel, dan google colab.

### Hello World!

Pada umumnya, langkah pertama dalam mempelajari suatu bahasa pemrograman adalah dengan melakukan perintah untuk menampilkan suatu kata atau kalimat pada layar. Program sederhana tersebut biasa disebut dengan "Hello World!".

In [ ]:
print("Hello World!")

Hello World!

### Komentar

Komentar adalah suatu catatan yang digunakan untuk penjelasan suatu baris *code*. Komentar adalah suatu hal yang sangat dibutuhkan. hal ini dibutuhkan karena pada proses pembuatan program secara berkelompok (program yang membutuhkan banyak *programmer*/*coder*) tidak semua *programmer* dapat mengartikan setiap baris *code* yang dilakukan oleh *programmer* lainnya.

**Komentar yang ditulis pada sebuah 'code', tidak akan terbaca saat menjalankan program.**

In [ ]:
#Ini komentar untuk satu baris saja
#Jadi makenya gabisa untuk banyak baris

In [ ]:
'''
Ini komentar untuk 
banyak baris
'''

'\nIni komentar untuk \nbanyak baris\n'

In [ ]:
"""
Ini juga
komentar untuk
banyak baris
"""

'\nIni juga\nkomentar untuk\nbanyak baris\n'

### Variabel

Variabel berfungsi sebagai penampung suatu nilai. Kenapa kita membutuhkan variabel? Karena pada proses pengolahan data kita membutuhkan operasi yang bertahap, maka kita harus melakukan penampungan nilai tersebut pada suatu variabel. 

**Penamaan variabel pada python memiliki beberapa ketentuan sebagai berikut :**

1.   Nama variabel boleh diawali menggunakan huruf atau garis bawah (_), contoh: nama, _nama, namaKu, nama_variabel.
2.   Karakter selanjutnya dapat berupa huruf, garis bawah (_) atau angka, contoh: __nama, n2, nilai1.
3.   Karakter pada nama variabel bersifat sensitif (case-sensitif). Artinya huruf besar dan kecil dibedakan. Misalnya, variabel_Ku dan variabel_ku, keduanya adalah variabel yang berbeda.
4.   Nama variabel tidak boleh menggunakan kata kunci yang sudah ada dalam python seperti if, while, for, dsb.


Sumber : https://www.petanikode.com/python-variabel-dan-tipe-data/

In [ ]:
angkaDua = 2
print(angkaDua)

2

In [ ]:
suatuKalimat = "Budi bermain bola"
print(suatuKalimat)

Budi bermain bola

Kita juga dapat melakukan penampungan nilai secara bersamaan terhadap banyak variabel, **contoh :**

In [ ]:
a, b, c = 1, 2, 3
print(a)
print(b)
print(c)

1
2
3

In [ ]:
a = b = c = 10
print(a)
print(b)
print(c)

10
10
10

Membuat *output* dari suatu variabel

In [ ]:
nama = "Budi"
# Catatan = Penggabungan dua variabel dengan operator '+' hanya dapat dilakukan pada tipe data yang sama (akan dibahas pada bab operasi dasar)
kalimat = "Nama saya "+nama
print(kalimat)
print("Nama saya " + nama)
print(f'Nama saya {nama}')
print("Nama saya ", nama)

Nama saya Budi
Nama saya Budi
Nama saya Budi
Nama saya  Budi

Apabila kita ingin mengganti suatu nilai variabel, kita hanya perlu memasukan ulang suatu nilai ke dalam variabel tersebut, **contoh :**

In [ ]:
kata = "Hai"
print(a)
kata = "Hello"
print(a)

10
10

Apabila kita sudah tidak membutuhkan suatu variabel, maka kita dapat menghapusnya dengan perintah `del()`, **contoh :**

In [ ]:
angkaSatu = 1
del(angkaSatu)
#Akan menampilkan Error karena variabel angkaSatu telah dihapus, sehingga variabel angkaSatu menjadi tidak terdefinisi
print(angkaSatu)

NameError: ignored

Kita juga dapat membuat salinan nilai dari suatu variabel dengan menggunakan perintah `.copy()`. Melakukan pengambilan nilai dengan cara penyalinan adalah sesuatu yang penting, supaya tidak merubah nilai dari variabel yang kita salin, **contoh :**

In [ ]:
#ini pengambilan nilai variabel a tanpa melakukan penyalinan
a = [1,2]
b = a
#fungsi append digunakan untuk menambahkan anggota list (Akan dibahas pada pertemuan dengan materi list)
b.append(3)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]

In [ ]:
#ini pengambilan nilai variabel a dengan melakukan penyalinan
a = [1,2]
b = a.copy()
#fungsi append digunakan untuk menambahkan anggota list (Akan dibahas pada pertemuan dengan materi list)
b.append(3)
print(a)
print(b)

[1, 2]
[1, 2, 3]

## Tipe Data

Tipe data adalah hal yang sangat penting untuk dipelajari pada dunia pemrograman. Python menyediakan beberapa tipe data yang secara *default* telah tersedia, **yaitu :**

1. Text Type:	`str`
2. Numeric Types:	`int`, `float`, `complex`
3. Sequence Types:	`list`, `tuple`, `range`
4. Mapping Type:	`dict`
5. Set Types:	`set`, `frozenset`
6. Boolean Type:	`bool`
7. Binary Types:	`bytes`, `bytearray`, `memoryview`

Sumber : https://www.w3schools.com/python/python_datatypes.asp

Untuk mengetahui tipe data dari suatu variabel, kita dapat menggunakan perintah `type()`, **contoh :**

In [ ]:
bulat = 1
print(type(bulat))

<class 'int'>

In [ ]:
desimal = 1.
print(type(desimal))

<class 'float'>

In [ ]:
x = "Hello World"
print(f'{x} adalah {type(x)}')	
x = 20
print(f'{x} adalah {type(x)}')	
x = 20.5	
print(f'{x} adalah {type(x)}')
x = 1j
print(f'{x} adalah {type(x)}')
x = ["apple", "banana", "cherry"]
print(f'{x} adalah {type(x)}')	
x = ("apple", "banana", "cherry")
print(f'{x} adalah {type(x)}')	
x = range(6)
print(f'{x} adalah {type(x)}')
x = {"name" : "John", "age" : 36}
print(f'{x} adalah {type(x)}')	
x = {"apple", "banana", "cherry"}
print(f'{x} adalah {type(x)}')
x = frozenset({"apple", "banana", "cherry"})
print(f'{x} adalah {type(x)}')
x = True	
print(f'{x} adalah {type(x)}')
x = b"Hello"	
print(f'{x} adalah {type(x)}')
x = bytearray(5)
print(f'{x} adalah {type(x)}')
x = memoryview(bytes(5))
print(f'{x} adalah {type(x)}')

Hello World adalah <class 'str'>
20 adalah <class 'int'>
20.5 adalah <class 'float'>
1j adalah <class 'complex'>
['apple', 'banana', 'cherry'] adalah <class 'list'>
('apple', 'banana', 'cherry') adalah <class 'tuple'>
range(0, 6) adalah <class 'range'>
{'name': 'John', 'age': 36} adalah <class 'dict'>
{'apple', 'banana', 'cherry'} adalah <class 'set'>
frozenset({'apple', 'banana', 'cherry'}) adalah <class 'frozenset'>
True adalah <class 'bool'>
b'Hello' adalah <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') adalah <class 'bytearray'>
<memory at 0x7fcfd46ec048> adalah <class 'memoryview'>

Selain mengetahui tipe data suatu variabel, kita juga dapat melakukan konversi terhadap tipe data dari suatu variabel dengan perintah `tipe_data_yang_diinginkan(variabel_yang_dikonversi)`, **contoh :**

In [ ]:
bulat = 2
print(type(bulat))
bulat = float(bulat) #konversi bilangan bulat menjadi bilangan real
print(type(bulat))

<class 'int'>
<class 'float'>

In [ ]:
#contoh lengkap konversi tipe data
x = str("Hello World")
print(f'{x} adalah {type(x)}')
x = int(20)	
print(f'{x} adalah {type(x)}')
x = float(20.5)	
print(f'{x} adalah {type(x)}')
x = complex(1j)
print(f'{x} adalah {type(x)}')
x = list(("apple", "banana", "cherry"))
print(f'{x} adalah {type(x)}')	
x = tuple(("apple", "banana", "cherry"))
print(f'{x} adalah {type(x)}')
x = range(6)
print(f'{x} adalah {type(x)}')
x = dict(name="John", age=36)
print(f'{x} adalah {type(x)}')
x = set(("apple", "banana", "cherry"))
print(f'{x} adalah {type(x)}')
x = frozenset(("apple", "banana", "cherry"))
print(f'{x} adalah {type(x)}')	
x = bool(5)
print(f'{x} adalah {type(x)}')
x = bytes(5)	
print(f'{x} adalah {type(x)}')
x = bytearray(5)	
print(f'{x} adalah {type(x)}')
x = memoryview(bytes(5))
print(f'{x} adalah {type(x)}')

Hello World adalah <class 'str'>
20 adalah <class 'int'>
20.5 adalah <class 'float'>
1j adalah <class 'complex'>
['apple', 'banana', 'cherry'] adalah <class 'list'>
('apple', 'banana', 'cherry') adalah <class 'tuple'>
range(0, 6) adalah <class 'range'>
{'name': 'John', 'age': 36} adalah <class 'dict'>
{'apple', 'banana', 'cherry'} adalah <class 'set'>
frozenset({'apple', 'banana', 'cherry'}) adalah <class 'frozenset'>
True adalah <class 'bool'>
b'\x00\x00\x00\x00\x00' adalah <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') adalah <class 'bytearray'>
<memory at 0x7fcfd46ec048> adalah <class 'memoryview'>

### Operasi Dasar

#### Operator Aritmatika

Operator ini meliputi :
1. Penjumlahan (`+`)
2. Pengurangan (`-`)
3. Perkalian (`*`)
4. Pembagian (`/`)
5. Modulus/Sisa Pembagian (`%`)
6. Eksponen/Perpangkatan (`**`)
7. Pembagian dengan Pembulatan ke Bawah/*Floor Division* (`//`)

In [ ]:
x = 5
y = 2
print(f'{x} + {y} = {x+y}')
print(f'{x} - {y} = {x-y}')
print(f'{x} * {y} = {x*y}')
print(f'{x} / {y} = {x/y}')
print(f'{x} % {y} = {x%y}')
print(f'{x} ** {y} = {x**y}')
print(f'{x} // {y} = {x//y}')

5 + 2 = 7
5 - 2 = 3
5 * 2 = 10
5 / 2 = 2.5
5 % 2 = 1
5 ** 2 = 25
5 // 2 = 2

#### Operator untuk menampung nilai pada variabel (*Assignment Operator*)

Operator ini digunakan untuk memasukkan sebuah nilai kedalam sebuah variabel cara menggunakannya adalah dengan menuliskan **x {jenis_operator}= y**

In [ ]:
x = 5	
x += 3
print(f'x + 3 = {x}')
x = 5
x -= 3
print(f'x - 3 = {x}')
x = 5	
x *= 3
print(f'x * 3 = {x}')
x = 5	
x /= 3
print(f'x / 3 = {x}')
x = 5	
x %= 3
print(f'x % 3 = {x}')
x = 5	
x //= 3
print(f'x // 3 = {x}')
x = 5	
x **= 3
print(f'x ** 3 = {x}')
x = 5	
x &= 3
print(f'x & 3 = {x}')
x = 5	
x |= 3
print(f'x | 3 = {x}')
x = 5	
x ^= 3
print(f'x ^ 3 = {x}')
x = 5	
x >>= 3
print(f'x >> 3 = {x}')
x = 5	
x <<= 3
print(f'x << 3 = {x}')

x + 3 = 8
x - 3 = 2
x * 3 = 15
x / 3 = 1.6666666666666667
x % 3 = 2
x // 3 = 1
x ** 3 = 125
x & 3 = 1
x | 3 = 7
x ^ 3 = 6
x >> 3 = 0
x << 3 = 40

#### Operator Pembanding

Operator ini digunakan untuk melakukan perbandingan antar dua variabel
1. Equal	(`==`)	
2. Not equal (`!=`)		
3. Greater than (`>`)		
4. Less than (`<`)	
5. Greater than or equal to (`>=`)		
6. Less than or equal to x (`<=`)

In [ ]:
x = 5
y = 5
print(f'x bernilai {x}\ny bernilai {y}')
print(f'x sama dengan y : {x == y}')	
print(f'x tidak sama dengan y : {x != y}')	
print(f'x lebih besar dari y : {x > y}')	
print(f'x lebih kecil dari y : {x < y}')	
print(f'x lebih besar sama dengan y : {x >= y}')	
print(f'x lebih kecil sama dengan y : {x <= y}')

x bernilai 5
y bernilai 5
x sama dengan y : True
x tidak sama dengan y : False
x lebih besar dari y : False
x lebih kecil dari y : False
x lebih besar sama dengan y : True
x lebih kecil sama dengan y : True

#### Operator Logika

Operator logika digunakan untuk mengkombinasikan pernyataan kondisional seperti **True** atau **False**

In [ ]:
a = True
b = False
#Kondisi and akan bernilai True apabila kedua variabel bernilai True
print(a and b)
#Kondisi or akan bernilai False ketika kedua variabel bernilai False
print(a or b)
#Operator not digunakan untuk mendapatkan negasi atau kebalikan dari kondisi yang seharusnya
print(not a)

False
True
False

#### Operator Identitas

Operator Identitas digunakan untuk mengetahui bahwa kedua variabel berasal dari objek yang sama. Jadi kondisi hasil dipengaruhi oleh sama atau tidaknya objek dari variabel tersebut. Objek yang sama akan memiliki alamat memori yang sama.

Untuk penggambaran agar mudah dicerna. Misalkan terdapat dua anak bernama Andi dan Budi, kedua anak tersebut memiliki bola yang sama persis. Pada kasus ini, apabila kita tulis dengan operator `bolaAndi==bolaBudi` maka akan menghasilkan nilai **True**. Namun apabila kita menggunakan operator `bolaAndi is bolaBudi`, maka akan menghasilkan nilai **False**.

In [ ]:
a = ["apple", "banana"]
b = ["apple", "banana"]
c = a
print(a == b)
print(a is b)
print(a == c)
print(a is c)

True
False
True
True

#### Operator Keanggotaan

Operator keanggotaan adalah operator yang digunakan untuk melakukan pemeriksaan terhadap keanggotan suatu variabel. Contoh kasus agar mudah dimengerti adalah 'Apakah gajah termasuk hewan?'. Pertanyaan tersebut dapat dijawab dengan *code* `gajah in hewan`. Apabila gajah adalah hewan, maka *code* tersebut akan menghasilkan nilai **True**.

In [ ]:
hewan = ['gajah','kambing','singa']
variabel = 'gajah'
print(variabel in hewan)
print(variabel not in hewan)

True
False

#### Operator Bitwise

Operator bitwise digunakan untuk melakukan komparasi bilangan biner :
1. AND (`&`)	
2. OR (`|`)
3. XOR (`^`)
4. NOT (`~`)
5. Zero fill left shift (`<<`)
6. Signed right shift (`>>`)

### Masukkan user (Input)

Kita telah mengetahui cara mendefinisikan suatu variabel (mengisi nilai variabel). Namun, bagaimana jika pengguna dari program yang kita buat menginginkan untuk dapat memasukkan nilai ke suatu variabel tanpa harus merubah *code* dari program tersebut? Untuk itulah kita membutuhkan `input()`.

In [ ]:
nama = input('Masukkan nama : ')
print(f'Hai, {nama}')

Masukkan nama : Muhammad Hasbi Ashshiddieqy
Hai, Muhammad Hasbi Ashshiddieqy

Hal yang perlu diingat dan dijadikan sebagai catatan adalah setiap inputan yang kita masukkan akan memiliki tipe data berupa `string` atau kita kenal dengan `str`. Jadi apabila kita ingin melakukan operasi matematika dengan *input*, kita harus melakukan konversi pada tipe data dari `input` tersebut.

In [ ]:
#Program penjumlahan bilangan bulat (integer) x dan y (cara pertama)
x = input('Masukkan nilai x : ')
x = int(x)
y = input('Masukkan nilai y : ')
y = int(y)
print(f'{x} + {y} = {x+y}')

Masukkan nilai x : 2
Masukkan nilai y : 3
2 + 3 = 5

In [ ]:
#Program penjumlahan bilangan bulat (integer) x dan y (cara kedua)
x = int(input('Masukkan nilai x : '))
y = int(input('Masukkan nilai y : '))
print(f'{x} + {y} = {x+y}')

Masukkan nilai x : 2
Masukkan nilai y : 3
2 + 3 = 5

### Tugas 1

Buatlah program untuk melakukan penghitungan luas bangun datar lalu tampilkan luas dari bangun datar tersebut dengan format "Luas {nama_bangun_datar} = {nilai_luas}". Minimal lima bangun datar! 

**Contoh output : "Luas Segitiga = 10"**